# 외부 API key 관리 예시 파일입니다.
# 필요한 API key, JWT 토큰 key 관리 등은 application-secret.properties에 저장을 하고 Github에는 올리지 않게 됩니다.

# application-secret.properties가 한번이라도 git 추적에 올라가게 되면 공개되니
# git add 후 git status를 통해 포함되었는지 확인 부탁드립니다!
# 만약에 포함된 것이 확인 되었다면, `git reset application-secret.properties`로 지우면 됩니다.
# example 파일을 작성하는 이유는 다른 사람들이 해당 문서의 내용을 확인할 수는 없지만 어떻게 구성이 되어있는지 확인할 수 있기 때문입니다.

# Deposite&Saving API key
api.money.key=

# OAuth2 : NAVER registration
spring.security.oauth2.client.registration.naver.client-name=
spring.security.oauth2.client.registration.naver.client-id=
spring.security.oauth2.client.registration.naver.client-secret=
spring.security.oauth2.client.registration.naver.redirect-uri=https://savingbee.monster/login/oauth2/code/naver
spring.security.oauth2.client.registration.naver.authorization-grant-type=
spring.security.oauth2.client.registration.naver.scope=
spring.security.oauth2.client.provider.naver.authorization-uri=
spring.security.oauth2.client.provider.naver.token-uri=
spring.security.oauth2.client.provider.naver.user-info-uri=
spring.security.oauth2.client.provider.naver.user-name-attribute=

# ??? ?? (Gmail ??)
spring.mail.host=
spring.mail.port=
spring.mail.username=
spring.mail.password=
spring.mail.properties.mail.smtp.auth=
spring.mail.properties.mail.smtp.starttls.enable=
spring.mail.properties.mail.smtp.connectiontimeout=
spring.mail.properties.mail.smtp.timeout=
spring.mail.properties.mail.smtp.writetimeout=


# JWT ??
spring.jwt.secret=

# SSL은 Nginx에서 처리하므로 Spring Boot SSL 설정 불필요